<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icegan.edu.questioncrawler.dao.CourseSectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.icegan.edu.questioncrawler.model.CourseSection">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="course_id" property="courseId" />
        <result column="ilevel" property="ilevel" />
        <result column="sort_str" property="sortStr" />
        <result column="name" property="name" />
        <result column="contect" property="contect" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
        <result column="cooco_id" property="coocoId" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, course_id, ilevel, sort_str, name, contect, create_time, update_time, creator, updater, cooco_id, status
    </sql>

</mapper>