<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icegan.edu.questioncrawler.dao.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.icegan.edu.questioncrawler.model.CourseMapper">
        <id column="id" property="id" />
        <result column="subject" property="subject" />
        <result column="grade" property="grade" />
        <result column="url" property="url" />
        <result column="status" property="status" />
        <result column="knowledge_id" property="knowledgeId" />
        <result column="course_id" property="courseId" />
        <result column="cooco_id" property="coocoId" />
        <result column="origin_from" property="originFrom" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, subject, grade, url, status, knowledge_id, course_id, cooco_id, origin_from
    </sql>

    <select id="listByConditions" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from biz_crawlurl where 1=1
        <if test="subject != null and subject != ''">
            and subject = #{subject}
        </if>
        <if test="grade != null and grade != ''">
            and grade = #{grade}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="knowledgeId != null and knowledgeId != ''">
            and knowledge_id = #{knowledgeId}
        </if>
        <if test="courseId != null and courseId != ''">
            and course_id = #{courseId}
        </if>
        <if test="coocoId != null and coocoId != ''">
            and cooco_id = #{coocoId}
        </if>
        order by create_time desc
    </select>

    <update id="updateStatusBatch" parameterType="java.util.Map">
        update biz_crawlurl set status = #{status}
        where id in
        <foreach collection="ids" item="ids" separator="," open="(" close=")">
            #{ids}
        </foreach>
    </update>
</mapper>
